@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#f9fafb] text-gray-900;
    font-family: 'Inter', sans-serif;
  }
}

/* Custom WebKit Scrollbar Setup */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 8px;
  border: 2px solid #f3f4f6;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
